@model ApplyFormViewModel
<div class="reply-area">
	<h3>Apply to course</h3>
	<form id="application-form" asp-action="apply" asp-controller="course" method="post">
		<div class="row">
			<div class="col-md-12">
				<label asp-for="Name">Name</label>
				<input asp-for="Name" id="Name">
				<span class="text-danger" asp-validation-for="Name"></span>
			</div>
			<div class="col-md-12">
				<label asp-for="Email">Email</label>
				<input asp-for="Email" id="Email">
				<span class="text-danger" asp-validation-for="Email"></span>
			</div>
			<input name="CourseId" type="hidden" value="@Model.CourseId" />
		</div>
		<button type="submit" class="btn btn-danger">Apply Now!</button>
	</form>
</div>