@model ProfilePassEditViewModel
<form method="post" asp-controller="auth" asp-action="profile">
	<div class="row">
		<div class="col-12  mb--30">
			<h4>Change Password</h4>
		</div>
		<div class="col-12  mb--30">
			<input asp-for=CurrentPassword id="CurrentPassword" placeholder="CurrentPassword">
			<span class="text-danger" asp-validation-for="CurrentPassword"></span>
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for=NewPassword id="NewPassword" placeholder="NewPassword">
			<span class="text-danger" asp-validation-for="NewPassword"></span>
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for=ConfirmNewPassword id="ConfirmNewPassword" placeholder="ConfirmNewPassword">
			<span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
		</div>
		<div class="text-danger col-12  mb--30" asp-validation-summary="ModelOnly"></div>
		<div class="col-12">
			<button type="submit" class="btn" style="background-color:#ec1c23">Save Changes</button>
		</div>
	</div>
</form>