@model Settings

<h1>Delete Setting</h1>

<form asp-action="DeleteConfirmed">
  <div>
    <h4>Are you sure you want to delete this setting?</h4>
    <div>
      <label asp-for="Key"></label>
      <input asp-for="Key" readonly />
    </div>
    <div>
      <label asp-for="Value"></label>
      <input asp-for="Value" readonly />
    </div>
    <button type="submit">Delete</button>
  </div>
</form>

<a href='@Url.Action("Index")'>Back to List</a>
