@model ForgetPasswordViewModel
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
	<div class="banner-area text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="banner-content-wrapper">
						<div class="banner-content">
							<h2>forget password</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Area End -->
<!-- Forget Password start -->
<div class="login-area pt-150 pb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				@if (TempData["EmailSent"] == null) {
					<div class="login">
						<div class="login-form-container">
							<div class="login-text">
								<h2>forget password</h2>
								<span>Please enter your email address to reset your password </span>
							</div>
							<div class="login-form">
								<form method="post">
									<input asp-for="Email" placeholder="Email">
									<span class="text-danger" asp-validation-for="Email"></span>
									<div class="text-danger" asp-validation-summary="ModelOnly"></div>
									<div class="button-box">
										<button type="submit" class="default-btn">Get Email</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				}
				else {
					<h1 class="text-success">Check your email box to reset password</h1>
				}
			</div>
		</div>
	</div>
</div>
<!-- Forget Password end -->
